<% if user_signed_in? -%>
	<ul class="actions">
	  <li><%= link_to 'edit', edit_post_path(post) %></li>
	  <li><%= link_to 'delete', post_path(post), method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %></li>
    <li><%= link_to 'comments', post_path(post, anchor: 'comments') %></li>
	</ul>
<% end %>