<article class="post">
  <%= post_title_link(@post) %>
    
  <% if @post.text? -%>
    <section class="body"><%= @post.body %></section>
  <% end -%>

  <ul class="actions">
	<li><%= link_to 'edit', edit_post_path(@post) %></li>
</ul>
</article>